@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono'),
    url(/fonts/JetBrainsMono-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono'),
    url(/fonts/JetBrainsMono-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  background: #566bf6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
